@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8f7fd;
    --foreground: #1e1a2d;
    --primary: #594efc;
    --primary-foreground: #dee3ff;
    --secondary: #ffffff;
    --tertiary: #ece8fa;
    --muted: #8178a1;
    --border: #d9d5e7;
    --input: #eeedf8;
    --destructive: "#9f1239"
    --sans: "Inter_400Regular";
    --bold: "Inter_700Bold";
    --medium: "Inter_500Medium";
  }

  .dark:root {
    --background: #1e1a2d;
    --foreground: #e5e6ef;
    --primary: #594efc;
    --primary-foreground: #dee3ff;
    --secondary: #2c2848;
    --tertiary: #262138;
    --muted: #675e86;
    --border: #3b3453;
    --input: #262138;
    --destructive: "#be123c"
    --sans: "Inter_400Regular";
    --bold: "Inter_700Bold";
    --medium: "Inter_500Medium";
  }
}
